<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
  package="com.qodit.paymob_flutter_lib">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AcceptSdk"
      tools:replace="android:theme">
      <activity
          android:name=".acceptsdk.paymob.acceptsdk.PayActivity"
          android:configChanges="orientation|keyboardHidden"
          android:label="@string/card_info"
          android:screenOrientation="portrait"
          android:windowSoftInputMode="stateVisible|adjustPan" >
      </activity>
      <activity
          android:name=".acceptsdk.paymob.acceptsdk.ThreeDSecureWebViewActivty"
          android:configChanges="orientation|keyboardHidden"
          android:label="3d-secure Verification"
          android:screenOrientation="portrait"
          android:windowSoftInputMode="stateVisible|adjustPan" >
      </activity>
  </application>
</manifest>
